# Terraform files
*.tfvars
*.tfstate
*.tfstate.*
*.tfbackend
*.auto.tfvars
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl
.terraform/

# Key files
*.pem
*.pub
account.json

# Misc files
ssh/
